body {
  background-color: rgba(232, 232, 233, .5);
}

.App {
  text-align: center;
  font-family: Gilroy;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #35383c;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  display: flex;
  font-size: large;
  width: 100%;

  margin-top: 1em;
}

.App-intro > section {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0 1em;
}

.App-intro > section > button {
  background-color: #523AFF;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;

  margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
